# for Racket
compiled/

# for Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


*logger.txt
*log.txt
*.pdf
*.cache
quad/scribblings/manual-fonts.css
quad/scribblings/manual-racket.css
quad/scribblings/manual-racket.js
quad/scribblings/manual-style.css
quad/scribblings/quad.html
quad/scribblings/racket.css
quad/scribblings/scribble-common.js
quad/scribblings/scribble.css
quad/scribblings/pict*.png
